<div class="container">
    <div class="image">
        <img src="https://images.unsplash.com/photo-1516975080664-ed2fc6a32937?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bWFrZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80">
    </div>
    <div class="text">
        <h1>Über Glam AKADEMIE</h1>
        <h3>In der Glam Akademie erfahren Sie Ausbildungen die ihres gleichen suchen. Wir bieten mehr als "nur" die üblichen Fortbildungen. Unsere Trainer haben nicht nur das Wissen der klassischen Kosmetik - sondern sind zusätzlich geprüfte para.med. Diese
            Ausbildung basiert auf höchstem medizinisch-cosmetologischen Niveau. Natürlich versteht sich von selbst, dass Sie, als Teilnehmer nur mit hochwertigsten Produkten arbeiten die auf orthomolekular medizinischen Grundlagen basieren. Weiters werdenSie
            in kleinsten Gruppen individuell gefördert. So können Sie bei uns Ihre Ziele erreichen.</h3>
        <a routerLink="/akademie/uberUns" class="button">Weiterlessen</a>
    </div>
</div>