.container {
    display: flex;
    align-items: center;
    justify-content: center
}

img {
    max-width: 100%
}

.image {
    flex-basis: 250%;
    order: 2;
}

h1 {
    color: black;
}

.text {
    display: inline-block;
    color: gray;
    padding: 100px 250px;
    padding-left: 20px;
    font: italic 15px "Fira Sans", serif;
    text-align: justify;
}