<div class="footer-container">
    <div class="footer">
        <div class="footer-heading footer-1">
            <h2>Kontakt:</h2>
            <p>Campus Adresse:</p>
            <p>KönigStraße 406,1932 Papenburg</p>
        </div>
        <div class="footer-heading footer-2">
            <h2>Telefon:</h2>
            <p>+49(0) 345 6789</p>
        </div>
        <div class="footer-email-form">
            <h2>Newsletter</h2>
            <input type="text" id="footer-email" placeholder="E-Mail-Adresse">
            <input type="submit" id="footer-email-btn" value="Jetzt abonnieren">
        </div>

    </div>
</div>