.container {
    display: flex;
    background-color: black;
    margin: 100px 100px;
    position: relative;
}

.text {
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    padding: 40px 530px;
}

.action {
    display: inline-block;
    background-color: rgb(180, 147, 168);
    padding: 20px 20px;
    text-decoration: none;
    color: black;
}

.action:hover {
    background-color: grey;
    color: white;
    cursor: pointer;
}

div {
    box-sizing: border-box;
    display: block;
}

.courses {
    margin-top: 50px;
}

.courses {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.course-title {
    color: #fff;
    text-align: center;
    padding: 0px;
    flex-basis: 100%;
    font-family: 'Dancing Script', cursive;
}

.course {
    flex-basis: 18%;
    position: relative;
    height: 350px;
    margin: 10px 0;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 5px 2px lightgrey;
}

.course:hover {
    cursor: pointer;
}

.course img {
    object-fit: cover;
    width: 110%;
    height: 110%;
    border-radius: 15px;
    transform-origin: 0 0;
    transition: all .5s ease;
    filter: brightness(70%)
}

.course:hover img {
    transform: scale(1.1);
    filter: brightness(100%)
}

.course-name {
    position: absolute;
    bottom: -10px;
    left: 20px;
    color: white;
    font-size: x-large;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 1;
}