<div class="header">
    <nav>
        <a href="" class="logo">Glam AKADEMIE</a>
        <div class="nav-links">
            <ul>
                <li>
                    <a href="">Start</a>
                    <a href="">Über Uns</a>
                    <a href="">Kurse</a>
                    <a href="">Galerie</a>
                    <a href="">Kontakt</a>
                </li>
            </ul>
        </div>

    </nav>
</div>
<!-- <header class="w3-display-container w3-wide" id="home"> -->
<div class="container">
    <img class="w3-image" src="https://images8.alphacoders.com/694/thumb-1920-694774.png" alt="Fashion Blog" width="1465" height="1060">
    <!-- <img class="w3-image" src="https://media.gettyimages.com/photos/beautiful-woman-picture-id890945610?s=170667a" alt="Fashion Blog" width="1465" height="900"> -->
    <div class="bottom-left">
        <h1>Ihre Karriere</h1>
        <h1>beginnt hier</h1>
        <h3>Du suchst Karriere möglichkeit? Entdecke jetzt die neusten trends auf Stylight!</h3>
        <button class="button">Jetzt anmelden</button>
    </div>

</div>
<!-- <div class="w3-display-left w3-padding-large">
        <h1 class="w3-text-white">Jane's</h1>
        <h1 class="w3-jumbo w3-text-white w3-hide-small"><b>FASHION BLOG</b></h1>
        <h6><button class="w3-button w3-white w3-padding-large w3-large w3-opacity w3-hover-opacity-off" onclick="document.getElementById('subscribe').style.display='block'">SUBSCRIBE</button></h6>
    </div> -->
<!-- </header> -->