<app-header>
</app-header>
<section class="upper-container">
    <div>
        <h1 class="upper-text">KURSE</h1>
    </div>
</section>
<div class="container">
    <div class="image">
        <img src="https://image.shutterstock.com/image-photo/makeup-artist-applies-eye-shadow-260nw-223153462.jpg">
    </div>
    <div class="text">
        <h1>Maskenbildner</h1>
        <h3>Nach Abschluss deiner Ausbildung kannst du entweder in Festanstellung oder freiberuflich in Medienunternehmen, also primär in Theatern, Opernhäusern sowie Film- und Fernsehanstalten arbeiten. Das Einstiegsgehalt eines Maskenbildners richtet sich
            stark danach, wo und wie man arbeitet und kann daher ziemlich unterschiedlich sein. Erhältst du beispielsweise nach deiner Ausbildung eine Festanstellung im öffentlichen Theater, in dem nach Tarifvertag gezahlt wird, kannst du mit einem Monatslohn
            von etwa 2000 Euro rechnen. Wenn du dagegen auf Tarifbasis in Film- und Fernsehunternehmen arbeitest, kannst du als erfahrener Maskenbildner sogar mit einem Verdienst von 1070 Euro in der Woche rechnen.</h3>
        <a routerLink="" class="button">Jetzt anmelden</a>
    </div>
</div>
<div class="container">
    <div class="image">
        <img src="https://media.istockphoto.com/photos/beautiful-bride-makeup-artist-applies-makeup-wedding-morning-of-the-picture-id1020255986?k=6&m=1020255986&s=612x612&w=0&h=OCMxXfILMbHoW_4aYIVGOrTq3eAay-eYVASQJ5hhBxQ=">
    </div>
    <div class="text">
        <h1>Braut Make-up</h1>
        <h3>Zum perfekten Brautstyling gehören Hochzeitskleid, Accessoires, Hochzeitsfrisur und vor allem das richtige Braut-Make-up, und das ist eine ganz schöne Herausforderung. Es muss perfekt zum Hauttyp sowie zum Stil der Braut passen, dabei nicht zu
            viel und auch nicht zu dezent sein und es muss vor allem lange halten. Auch die Auswahl der richtigen Stylingprodukte ist nicht so leicht, wenn man nicht schon seine Lieblingsmarke gefunden hat. Damit am Ende das Ergebnis passt, sind oft mehrere
            Sitzungen mit dem Braut-Make-up-Artisten nötig. Wir liefern Euch wunderschöne Ideen und Inspirationen für Euer Styling.</h3>
        <a routerLink="" class="button">Jetzt anmelden</a>
    </div>
</div>
<div class="container">
    <div class="image">
        <img src="https://www.fitforfun.de/files/images/201711/1/istock-483927880,269836_m_n.jpg">
    </div>
    <div class="text">
        <h1>Damen Haarstylist</h1>
        <h3>Beim Haarstyling geht momentan alles: Lang oder kurz, lockig oder glatt, mit und ohne Farbe. Hauptsache lässig. Wichtig ist, dass nichts zu frisiert wirkt.Die Bandbreite der Haartrends ist so breit wie nie – in sind Langhaarfrisuren mit Locken
            und Wellen, lässige Flecht- und Hochsteckfrisuren und der Long Bob mit und ohne Pony.</h3>
        <a routerLink="" class="button">Jetzt anmelden</a>
    </div>
</div>
<div class="container">
    <div class="image">
        <img src="https://i.pinimg.com/736x/ae/67/7a/ae677a18891ad058e1526f2b087028b6.jpg">
    </div>
    <div class="text">
        <h1>Herren Haarstylist</h1>
        <h3>Haare schneiden ist eine Systematik, die sich mit der richtigen Technik verbinden muss. Wie Sie sich als Friseur-Anfänger dem Haare schneiden nähern, trainieren wir in diesem Kurs. Sie erlernen grundlegende Techniken des Damen-Haarschnitts und
            üben die exakte Ausführung – von der Scherenhaltung bis zu modernen Styling-Techniken. Im Schnitt-Aufbauseminar B2 vertiefen Sie schließlich Ihre Kenntnisse.</h3>
        <a routerLink="" class="button">Jetzt anmelden</a>
    </div>
</div>
<app-footer></app-footer>